.header {
  background-image: url('/images/header-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
}

.navbarWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding-top: 2rem;}

.headerContent {
  max-width: 1200px;
  margin: auto;
  padding-left: 2rem;
}

.headerText {
  font-family: "light";
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  max-width: 50%;
  line-height: 1.5rem;
}

.contact {
  background-image: url('/images/contact-background.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactText {
  font-family: "light";
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  max-width: 50%;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.footer {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1200px) {

  .contact {
    height: 40vh;
  }

  .contactText {
    font-size: 1.5rem;
  }
}

/* Media query for small screens and mobile devices */
@media (max-width: 768px) {

  .headerText {
    max-width: 80%;
  }

  .contact {
    height: 30vh;
  }

  .contactText {
    font-size: 1rem;
  }

  .footer {
    max-width: 90vw;
    margin: auto;
    padding-bottom: 2rem;
  }
}
